
# Load base set of plugins using commonPlugins.cmd
< $(ADCORE)/iocBoot/commonPlugins.cmd

{% if deploy_ioc_merged_env.FFMPEGSERVER is defined %}
ffmpegServerConfigure("FfmServer1", "{{ host_info_epics_intf_ip }}")
ffmpegStreamConfigure("FfmStream1", $(QSIZE), 0, "$(PORT)", 0, -1, 0)
dbLoadRecords("$(FFMPEGSERVER)/db/ffmpegStream.template", "P=$(PREFIX),R=ffmstream1:,PORT=FfmStream1,NDARRAY_PORT=$(PORT)")

{% endif %}
{% if deploy_ioc_merged_env.ADCOMPVISION is defined %}
NDCVConfigure("CV1", $(QSIZE), 0, "$(PORT)", 0, 0, 0, 0, 0, $(MAX_THREADS=5))
dbLoadRecords("$(ADCOMPVISION)/db/NDCV.template",  "P=$(PREFIX),R=CV1:, PORT=CV1,ADDR=0,TIMEOUT=1,NDARRAY_PORT=$(PORT)")
set_requestfile_path("$(ADCOMPVISION)/db")

{% endif %}
{% if deploy_ioc_merged_env.ADPLUGINBAR is defined %}
NDBarConfigure("BAR1", $(QSIZE), 0, "$(PORT)", 0, 0, 0, 0, 0, $(MAX_THREADS=5))
dbLoadRecords("$(ADPLUGINBAR)/db/NDBar.template",  "P=$(PREFIX),R=Bar1:, PORT=BAR1,ADDR=0,TIMEOUT=1,NDARRAY_PORT=$(PORT)")
set_requestfile_path("$(ADPLUGINBAR)/db")

{% endif %}
{% if ioc.environment.IOC_PREFIX is defined %}
dbLoadRecords("$(EPICS_BASE)/db/iocAdminSoft.db", "IOC=$(IOC_PREFIX)")
dbLoadRecords("$(EPICS_BASE)/db/save_restoreStatus.db", "P=$(IOC_PREFIX)")
dbLoadRecords("$(EPICS_BASE)/db/reccaster.db", "P=$(IOC_PREFIX)RecSync")
{% elif ioc.environment.CT_PREFIX is defined %}
dbLoadRecords("$(EPICS_BASE)/db/iocAdminSoft.db", "IOC=$(CT_PREFIX)")
dbLoadRecords("$(EPICS_BASE)/db/save_restoreStatus.db", "P=$(CT_PREFIX)")
dbLoadRecords("$(EPICS_BASE)/db/reccaster.db", "P=$(CT_PREFIX)RecSync")
{% else %}
dbLoadRecords("$(EPICS_BASE)/db/iocAdminSoft.db", "IOC=$(PREFIX)")
dbLoadRecords("$(EPICS_BASE)/db/save_restoreStatus.db", "P=$(PREFIX)")
dbLoadRecords("$(EPICS_BASE)/db/reccaster.db", "P=$(PREFIX)RecSync")
{% endif %}
