#
# {{ deploy_ioc_substitution_file_name }}.substitutions
# {{ ansible_managed }}
#

{% for template in deploy_ioc_substitution_templates|dict2items %}
file "{{ template.value.filepath }}"
{{"{"}}
pattern
{{"{"}}{{ template.value.pattern | join(', ') }}{{"}"}}
{% for instance in template.value.instances %}
{{"{"}}
{%- for macro in template.value.pattern %}
{%- if "$(" + macro|string + ")" in instance[loop.index - 1]|string %}
"{{ instance[loop.index - 1] | replace("$(" + macro + ")", _merged_ioc_environment[macro]) }}"
{%- else %}
"{{ instance[loop.index - 1] }}"
{%- endif %}
{%- if not loop.last %},{{" "}}
{%- else %}
{{"}"}}
{% endif %}
{% endfor %}
{% endfor %}
{{"}"}}

{% endfor %}
