#
# {{ ansible_managed }}
# RELEASE location of any EPICS module deps for {{ module_name }}
#

{% if dependency.key != "EPICS_BASE" %}
{% for dependency in install_module_epics_deps|dict2items %}
{% if dependency.value.startswith(install_module_install_dir) %}
{{ dependency.key }}={{ dependency.value }}
{% endif %}

{% for dependency in install_module_epics_deps|dict2items %}
{% if not dependency.value.startswith(install_module_install_dir) %}
{{ dependency.key }}={{ dependency.value }}
{% endif %}
{% endfor %}
{% endif %}

# EPICS_BASE should always be last
EPICS_BASE={{ install_module_epics_deps["EPICS_BASE"] }}

-include $(TOP)/../configure/EPICS_BASE.$(EPICS_HOST_ARCH)
