
cd $(TOP)/{{ _autosave_directory_name }}/req
#makeAutosaveFiles()
create_monitor_set("auto_settings.req", 30, P=$(PREFIX))
#create_monitor_set("info_positions.req", 15 , "")
#create_monitor_set("info_settings.req", 30 , "")
cd $(TOP)

# Make sure our clean cycle is set to 0
dbpf $(PREFIX)cam1:CleanCycleHeight 0
dbpf XF:08IDB-ES{Det:PICAM1}cam1:CleanCycleHeight 0

dbl > /tmp/{{ ioc_name }}-records.dbl
date
