record(bo, "$(P)$(R)$(SOURCE_NUM):BurstMode") {
    field(DESC, "Burst Mode")
    field(DTYP, "stream")
    field(OUT, "@afg3k.proto setBurstMode($(SOURCE_NUM)) $(PORT)")
    field(ZNAM, "TRIG")
    field(ONAM, "GAT")
    field(SCAN, "Passive")
}

record(bi, "$(P)$(R)$(SOURCE_NUM):BurstMode_RBV") {
    field(DESC, "Burst Mode Status")
    field(DTYP, "stream")
    field(ZNAM, "TRIG")
    field(ONAM, "GAT")
    field(INP, "@afg3k.proto getBurstModeStatus($(SOURCE_NUM)) $(PORT)")
    field(SCAN, "1 second")
}

record(ao, "$(P)$(R)$(SOURCE_NUM):BurstNCycles") {
    field(DESC, "Burst N Cycles")
    field(DTYP, "stream")
    field(HIHI, "1000000")
    field(LOLO, "1")
    field(OUT, "@afg3k.proto setBurstNCycles($(SOURCE_NUM)) $(PORT)")
    field(SCAN, "Passive")
}

record(ai, "$(P)$(R)$(SOURCE_NUM):BurstNCycles_RBV") {
    field(DESC, "Burst N Cycles Status")
    field(DTYP, "stream")
    field(HIHI, "1000000")
    field(LOLO, "1")
    field(INP, "@afg3k.proto getBurstNCycles($(SOURCE_NUM)) $(PORT)")
    field(SCAN, "1 second")
}

record(bo, "$(P)$(R)$(SOURCE_NUM):BurstState") {
    field(DESC, "Burst State")
    field(DTYP, "stream")
    field(OUT, "@afg3k.proto setBurstState($(SOURCE_NUM)) $(PORT)")
    field(ZNAM, "OFF")
    field(ONAM, "ON")
    field(SCAN, "Passive")
}


record(bi, "$(P)$(R)$(SOURCE_NUM):BurstState_RBV") {
    field(DESC, "Burst State RB")
    field(DTYP, "stream")
    field(INP, "@afg3k.proto getBurstState($(SOURCE_NUM)) $(PORT)")
    field(ZNAM, "OFF")
    field(ONAM, "ON")
    field(SCAN, "1 second")
}

record(mbbo, "$(P)$(R)$(SOURCE_NUM):FunctionShape") {
    field(DESC, "Function Shape")
    field(DTYP, "stream")
    field(OUT, "@afg3k.proto setFuncShape($(SOURCE_NUM)) $(PORT)")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(FRVL, "4")
    field(FVVL, "5")
    field(SXVL, "6")
    field(SVVL, "7")
    field(EIVL, "8")
    field(NIVL, "9")
    field(TEVL, "10")
    field(ELVL, "11")
    field(ZRST, "SIN")
    field(ONST, "SQU")
    field(TWST, "PUL")
    field(THST, "RAMP")
    field(FRST, "PRN")
    field(FVST, "DC")
    field(SXST, "SINC")
    field(SVST, "GAUS")
    field(EIST, "LOR")
    field(NIST, "ERIS")
    field(TEST, "EDEC")
    field(ELST, "HAV")
}

record(mbbi, "$(P)$(R)$(SOURCE_NUM):FunctionShape_RBV") {
    field(DESC, "Function Shape Status")
    field(DTYP, "stream")
    field(INP, "@afg3k.proto getFuncShapeStatus($(SOURCE_NUM)) $(PORT)")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(FRVL, "4")
    field(FVVL, "5")
    field(SXVL, "6")
    field(SVVL, "7")
    field(EIVL, "8")
    field(NIVL, "9")
    field(TEVL, "10")
    field(ELVL, "11")
    field(ZRST, "SIN")
    field(ONST, "SQU")
    field(TWST, "PUL")
    field(THST, "RAMP")
    field(FRST, "PRN")
    field(FVST, "DC")
    field(SXST, "SINC")
    field(SVST, "GAUS")
    field(EIST, "LOR")
    field(NIST, "ERIS")
    field(TEST, "EDEC")
    field(ELST, "HAV")
    field(SCAN, "1 second")
}

record(ao, "$(P)$(R)$(SOURCE_NUM):FixedFreq") {
    field(DESC, "Fixed Frequency")
    field(DTYP, "stream")
    field(OUT, "@afg3k.proto setFixedFreq($(SOURCE_NUM)) $(PORT)")
    field(EGU, "Hz")
    field(SCAN, "Passive")
}

record(ai, "$(P)$(R)$(SOURCE_NUM):FixedFreq_RBV") {
    field(DESC, "Fixed Frequency RB")
    field(DTYP, "stream")
    field(INP, "@afg3k.proto getFixedFreq($(SOURCE_NUM)) $(PORT)")
    field(EGU, "Hz")
    field(SCAN, "1 second")
}

record(mbbo, "$(P)$(R)$(SOURCE_NUM):AmplitudeUnits") {
    field(DESC, "Voltage Amplitude Units")
    field(DTYP, "stream")
    field(OUT, "@afg3k.proto setAmpUnits($(SOURCE_NUM)) $(PORT)")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(ZRST, "VPP")
    field(ONST, "VRMS")
    field(TWST, "DBM")
    field(SCAN, "Passive")
}

record(mbbi, "$(P)$(R)$(SOURCE_NUM):AmplitudeUnits_RBV") {
    field(DESC, "Voltage Amplitude Units RB")
    field(DTYP, "stream")
    field(INP, "@afg3k.proto getAmpUnits($(SOURCE_NUM)) $(PORT)")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(ZRST, "VPP")
    field(ONST, "VRMS")
    field(TWST, "DBM")
    field(SCAN, "1 second")
}
