errlogInit(20000)

dbLoadDatabase("$(TOP)/dbd/germaniumDetector.dbd")
germaniumDetector_registerRecordDeviceDriver(pdbbase)

# Configure germanium detector
germaniumConfig("$(DETECTOR_PORT)")
asynReport 5, "$(DETECTOR_PORT)"

# Load main germanium database
dbLoadRecords("$(ADGERMANIUM)/db/Germanium.template", "P=$(PREFIX), R=, PORT=GERM, ADDR=0")